body{
    font-family: 'Lobster', cursive;
    margin: 0;
    padding: 0%;
    background-image: url(https://ns328286.ip-37-187-113.eu/ew/wallpapers/800x480/03731_800x480.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    background-color: white;
    opacity: 80%;
}

.title{
    padding: 30px;
    color:#E823BF;
}

.présentation{
    padding: 30px;
    font-size: 30px;
}

.list{
    font-size: 25px;
    margin: 20px;
}