body{
    font-size: 17px;
    font-family: 'Quicksand', cursive;
    padding: 0;
    margin: 0;
    background-image: url(https://www.fond-ecran-hd.net/Public/uploads/2019-01-14/1620.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    color : white;
}

.accueil{
    text-align: center;
    padding: 60px;
}

.heart-list{
    display: flex;
    align-items: flex-start;
    justify-content: center;

}
.identification{
    margin : 10px;
}

.reseau img{
    width: 50px;
    height: 50px;
}

.box{
    width : 1200px;
    margin : auto;
    padding: 30px;
}

#nav {
    padding: 0;
    margin: 0;
    font-size : 15px;
    margin-left: 130px;
    margin-right: 130px;
}

#nav li {
    display: inline;
    list-style: none;
}

#nav a {
    display:inline-block;
    margin: 0 20px;
    color: white;
    font-family: 'Graduate', cursive;
}

.porfolio{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
    
}

.nom, h1{
    text-align: center;
}

.nom{
    color:white;
    text-align : center;
}

.nom, h2{
    text-align: justify;
}

.Apropos{
    color: white;
    width: 50%;

}

p{
    
    font-size: 20px;
}

.projects{
    display: flex;
    align-items: center;
    flex-direction: column;
}