@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    margin: 0;
    padding: 0;
}

.uneGrandeBoite {
    display: flex;
}

.petiteBoite {
    flex: 1;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: flex 2s;
}

.petiteBoite:hover {
    flex: 5;
}

.mer {
    background-image: url('images/paysage2.jpg');
}

.etoiles {
    background-image: url('images/paysage5.jpg');
}

.prairie {
    background-image: url('images/paysage4.jpg');
}

.ville {
    background-image: url('images/paysage1.jpg');
}

.montagne {
    background-image: url('images/paysage3.jpg');
}

p {
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2.2em;
    font-family: 'Zen Dots', cursive;
    transition: transform 2s;
}

.texteDuHaut {
    transform: translateY(-500%);
    opacity: 0%;
}

.petiteBoite:hover>.texteDuHaut {
    transform: translateY(0%);
    opacity: 100%;
}

.texteDuBas {
    transform: translateY(500%);
    opacity:0%;
}

.petiteBoite:hover>.texteDuBas {
    transform: translateY(0%);
    opacity: 100%;
}

.cercle {
    background-color: rgba(0, 0, 0, 0.555);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cercle>p {
    color: red;
}

.cercle:hover {
    cursor: pointer;
}

.cercle:hover>p {
    color: blue;
}
/* Media Query */

                            /*breakpoint*/
@media only screen and (max-width: 920px) {
    
    .uneGrandeBoite {
        display: block;
    }
    .petiteBoite {
        flex: none;
        height: 100vh;
        overflow: hidden;
        transition : height 5s;
    }   
    .petiteBoite:hover>.texteDuBas {
        transform: translateX(0%);
    }                  
    .texteDuHaut {
        transform: translateX(-250%);
    }
    .petiteBoite:hover>.texteDuHaut {
        transform: translateX(0%);
    }
    .petiteBoite:hover {
        height: 90vh;
    }  
    .texteDuBas {
        transform: translateX(500%);
    }
    .cercle:hover {
        background-image: linear-gradient(rgba(255, 255, 255, 0.753), rgba(0, 0, 0, 0.931));
    }
}