body{
    background-color: rgb(220, 230, 230);
}

.ble {
    height: 100vh;
    position: relative;
}

.ble::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/ble.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(90%);
    z-index:-1;
}

.barreNav {
    height: 20%;
    background-color: rgba(0, 0, 0, 0.596);
    display: flex;
    align-items: center;
}

.leReste {
    height: 80%;
}

.lienNav {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.cadre{
    color: aquamarine;
    border: 3px aquamarine solid;
    padding: 3px;
}

.e{
    color: aquamarine;
}

.boiteTexteHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boiteTexteHeader>h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.596);
}

.menu {
    display: flex;
    justify-content: space-evenly;
}

.logoEtMenu {
    justify-content: space-evenly;
}

.title{
    padding: 30px;
    color: white;
}

hr:not([size]) {
    width: 48px;
    height: 5px;
    color: white;
}

.titleService{
    color: white;
    margin-top: 20px;
}

.paragraphe{
    color: white;
    margin-top: 20px;
}

.bloc2{
    background-color: rgb(16, 197, 197);
}

.serviceFond {
    height: auto;
    position: relative;
    padding-bottom: 50px;
}

.barreNavBas {
    padding: 2%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

.lienNavBas{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-decoration: none;
}

.portfolio{
    height: 20%;
    width: auto;
    padding: 30px;
}

.boite{
    padding: 40px;
    height: 20%;
    width: 20%;
}

.taille{
    width: 100%;
    height: 100%;
}
